*{
    box-sizing: border-box;
}

body{
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    background-color: #6a5acd;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1{
    color: #fff;
}

.btn {
    cursor: pointer;
    padding: 20px 30px;
    overflow: hidden;
    font-family: inherit;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    border: 0;
    color: #6a5acd;
    background-color: #fff;
    margin: 10px 0;
    position: relative;
    overflow: hidden;
}
.btn:focus {
    outline: none;
}
.btn:active {
    transform: scale(0.98);
    color: #4b3ea1;
}

.ripple__effect{
    padding: 20px 35px;
}

.circle{
    position: absolute;
    transform: translate(-50%, -50%) scale(0);
    background-color: #6a5acd;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    animation: scale 0.5s ease-out;
}

@keyframes scale{
    to{
        transform: translate(-50%, -50%) scale(3);
        opacity: 0;
    }
}

/* Button  2*/
.btn__two{
    z-index: 10;
}

.hover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #4b3ea1;
    transform: translateY(-100%);
    transition: transform 0.3s ease-out;
    z-index: -1;
}
.btn__two:hover{
    color: #fff;
}

.btn__two:hover .hover{
    z-index: -1;
    transform: translateY(0);
}

/* Button Three */
.btn__three{
    z-index: 10;
}
.btn__three .hover{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #4b3ea1;
    transform: translateY(100%);
    transition: transform 0.3s ease-out;
    z-index: -1;
}

.btn__three:hover{
    color: #fff;
}
.btn__three:hover .hover{
    z-index: -1;
    transform: translateY(0);
}

/* Button Four */
.btn__four{
    z-index: 10;
}
.btn__four .hover{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #4b3ea1;
    transform: translateX(100%);
    transition: transform 0.5s ease-out;
    z-index: -1;
}

.btn__four:hover{
    color: #fff;
}
.btn__four:hover .hover{
    z-index: -1;
    transform: translateY(0);
}
/* Button Five */
.btn__five{
    z-index: 10;
}
.btn__five .hover{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #4b3ea1;
    transform: translateX(-100%);
    transition: transform 0.5s ease-out;
    z-index: -1;
}

.btn__five:hover{
    color: #fff;
}
.btn__five:hover .hover{
    z-index: -1;
    transform: translateY(0);
}

/* Button Six */
.btn__six{
    z-index: 10;
    color: #4b3ea1;
}

.btn__six .hover{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #4b3ea1;
    transform: scale(0);
    transition: transform 0.5s ease-out;
    z-index: -1;
}

.btn__six:hover{
    color: #fff;
}
.btn__six:hover .hover{
    z-index: -1;
    transform: scale(1);
}

/* Button Seven */
.btn__seven{
    z-index: 10;
    color: #fff;
}

.btn__seven .hover{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #4b3ea1;
    transform: scale(1);
    transition: transform 0.5s ease-out;
    z-index: -1;
}

.btn__seven:hover{
    color: #4b3ea1;
}
.btn__seven:hover .hover{
    z-index: -1;
    transform: scale(0);
}